* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

header ul li {
    display: inline-block;
    padding: 0px 8px;
    position: relative;
}

#header-left {
    width: 30%;
    padding: 16px;
}

#header-right {
    padding: 16px;
}

button.login {
    background-color: #4285f4;
    color: white;
    padding: 8px 14px;
    border: 0px;
    border-radius: 2px;
}

.dropdown {
    position: absolute;
    background-color: white;
    width: 357px;
    height: 470px;
    right: -85px;
    top: 35px;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 3px;
    overflow-y: auto;
    display: none;
}

.icon-box {
    float: left;
    height: 110px;
    width: 110px;
    text-align: center;
}

.icon-box i {
    padding: 30px 0px 7px 0px;
    font-size: 45px;
}

.central-logo {
    text-align: center;
    margin-top: 110px;
}

.search-text {
    text-align: center;
}

.search-text input {
    width: 500px;
    padding: 8px;
}

.search-buttons {
    text-align: center;
    margin-top: 20px;
}

button.search {
    padding: 8px 12px;
    background-color: lavender;
    margin-right: 16px;
    border: 0px;
    border-radius: 5px;
}
